
  $openWidth: 200px;
  $closeWidth: 60px;
  $sideBg:#262B35;
  $hoverColor:#2C323E;
  $slidebarActiveBgColor: #039BE5;
  $iconColor:#99A5BF;
  $iconFontsSize:16px;

#app {
  // 主体区域
  .main-container {
    position: relative;
    padding: 70px 10px 10px 10px;
    height: auto;
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $openWidth;
    background-color: #eceef3;
  }
  // 侧边栏
  .sidebar-wrapper{
    height: calc(100vh - 60px );
  }
  .sidebar-container {
    transition: width 0.28s;
    width: $openWidth;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: block;
      overflow: hidden;
      padding: 2px 0 2px 0;
      //border-bottom: 1px solid #182b4a;

      i {
        font-size: $iconFontsSize;
        color: $iconColor;
        margin-left: 2px;
      }
      span {
        margin-left: 17px;
      }
    }
    .el-menu-item,.el-submenu__title{
      &:hover,&:focus {
        background:$hoverColor ;
      }
    }
    .el-menu {
      border: none;
      height: 100%;
      padding-top: 5px;
      width: 100% !important;
      background: $sideBg;
    }
    .bigMenu {
      height: 48px;
      line-height: 48px;
      border-radius: 0 25px 25px 0;
    }

    // 带有子选项的导航标签
    .has-child-icon {
      color: $iconColor;
    }
    .has-child-text {
      margin-left: 8px;
    }
    .router-link-active{
      .is-active{
        background-color: $slidebarActiveBgColor !important;
      }
    }
  }
  .hideSidebar {

    .bigMenu{
      width: 48px;
      border-radius: 24px;
      padding-left: 15px !important;
      margin-left: 5px;
    }
    .child-menu {
      border-bottom: 1px solid #182b4a;
      &.is-active {
        .el-submenu__title {
          color: #fff !important;
          & > i {
            color: #fff !important;
          }
        }
      }
      .el-submenu__title {
        &:hover {
        }
      }
      .el-menu.el-menu--inline {
        & > a {
          margin-left:8px;
          li{
            width: 41px;
            border-radius: 22px;
            padding-left: 19px !important;
            padding-right: 0 !important;
          }
          span{
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }

    .sidebar-container {
      width: $closeWidth;
    }
    .hideSidebarContainer{
      &:hover{
         width: $openWidth ;
         .el-submenu {
           & > .el-submenu__title {
             .el-submenu__icon-arrow {
               display: block;
             }
           }
         }
         .side-logo{
         }
        .has-child-text, .bigMenu span, .hamburger-container{
          height: auto;
          width: auto;
          overflow: hidden;
          visibility: visible;
          display: inline-block;
        }
        .el-menu.el-menu--inline {
          & > a {
            margin-left: 0;

            span{
              height: auto;
              width: auto;
              overflow: hidden;
              visibility: visible;
              display: inline-block;
            }
            li{
              width: 90%;
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              padding: 0;
              padding-left: 27px !important;
            }
          }
        }
        .bigMenu{
          width: 90%;
          border-radius: 0 24px 24px 0;
          margin-left: 0;
          padding-left: 20px !important;
        }
      }
    }
    .main-container {
      margin-left: $closeWidth;
    }
    .submenu-title-noDropdown {
      position: relative;
      .el-tooltip {
        padding: 0 15px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 18px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    /*.el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }*/

    // 带有子选项的导航标签
    .has-child-icon {
      margin-left: 2px;
    }
    .has-child-text,.bigMenu span,.hamburger-container{
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      display: inline-block;
    }

  }
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 40px !important;
    &:hover {
      color: #fff !important;
    }
  }

  .child-menu {
    border-bottom: 1px solid #182b4a;
    &.is-active {
      .el-submenu__title {
        background: $hoverColor;
        color: #fff !important;
        & > i {
          color: #fff !important;
        }
      }
    }
    .el-menu.el-menu--inline {
      margin-top: -5px;
      padding: 0;
      & > a {
        height: 41px;
        line-height: 41px;
        padding: 0;
        li {
          width: 90%;
          border-bottom-right-radius: 22px;
          border-top-right-radius: 22px;
          height: inherit;
          line-height: inherit;
          padding-left: 27px !important;
          &:before{
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: #fff;
            vertical-align: middle;
          }
        }
      }
    }

  }
  // 选中字体颜色
  .el-menu-item.is-active i {
    color: #ffffff !important;
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0;
    }
    .sidebar-container {
      transition: transform 0.28s;
      width: 180px !important;
    }
    .side-logo {
      width: 0 !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
  .side-logo {
    height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url('../assets/images/polphin_logo.png') #016ad5 4px center
    no-repeat;
  }

  .hideSidebar .side-logo {
    height: 60px;
  }
  .hamburger-container{
  }
}
