//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto !important;
  min-width: 500px;
  max-width: 1200px;
  border-radius: 4px;
  //重置dialog的样式
  @include e(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3eaf1;
  }

  @include e(title) {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
  }

  @include e(body) {
    max-height: 600px;
    overflow-y: auto;
    .el-form-item {
      @include e(label) {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #606266;
        letter-spacing: 0;
      }
    }
  }

  @include e(footer) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #e3eaf1;
    padding: 10px !important;
    button {
      height: 32px !important;
      line-height: 1px !important;
    }
  }
}
.el-dialog__wrapper{
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.terminal-dialog .el-dialog__body {
  padding: 0 !important;
}
