.el-message-box__wrapper /deep/ .el-message-box {
  .el-message-box__header {
    padding-bottom: 0;
    .el-message-box__title {
      .el-icon-warning {
        color: #f5a623;
      }
      .el-message-box__status {
        font-size: 24px;
      }
      span {
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.85);
        line-height: 24px;
      }
    }
  }
  .el-message-box__content {
    padding-top: 5px;
    .el-message-box__message {
      font-size: 14px;
      color: #808a9f;
    }
  }
  .el-message-box__btns {
  }
}
