@import './mixin.scss';

.card-list {
  display: flex;
  margin-left: -10px;
  .cart-item {
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    width: 50%;
    box-sizing: border-box;
    .cart-tit {
      padding-left: 25px;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #2a2f33;
      letter-spacing: 0;
    }
    .cart-con {
      margin-top: 23px;
      padding: 0 25px 25px;
    }
    @include form-item;
  }
}

.card-list.line {
  margin-left: 0;
  .cart-item {
    margin-left: 0;
  }
  .cart-item:nth-of-type(even) {
    border-left: solid 1px #edf0f4;
  }
}
