$primary-color: #016ad5;
$base-font-color: #606266;
$accent-font-color: #49505c;
$accent-font-color-1: #666;
$header-font-color: #686f79;
$label-font-color: #606266;
$body-bg: #eceef3;
$white-bg: #fff;
$border-color: #ebeef5;
$dropDown-border-color: #e7e9f0;

//sidebar
$childBg:#031836;
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$publicColor:#016ad5;
