//$primary-color: #016ad5;
$primary-color: #1FB6FF;
$base-font-color: #606266;
$accent-font-color: #49505c;
$accent-font-color-1: #666;
$header-font-color: #686f79;
$label-font-color: #606266;
$body-bg: #eceef3;
$white-bg: #fff;
$border-color: #ebeef5;
$dropDown-border-color: #e7e9f0;

//sidebar
$childBg:#031836;
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$publicColor:#016ad5;

//
$primary-color-light: #4cc5ff;
$danger-color:#FF4341;
$success-color:#25CF37;
$info-color:#F0F2F5;
$info-font-color:#7B8591;
$info-border-color:#DCDFE6
//$warning-color:
