.icon-ic-email:before { content: "\e6ed"; }

.icon-ic-prompt:before { content: "\e6ee"; }

.icon-ic-home:before { content: "\e6ef"; }

.icon-ic-permissions:before { content: "\e6f0"; }

.icon-ic-search:before { content: "\e6f1"; }

.icon-ic-setting:before { content: "\e6f2"; }

.icon-ic-name:before { content: "\e6f3"; }

.icon-ic-lock:before { content: "\e6f4"; }

.icon-ic-arrow-right:before { content: "\e6f5"; }

.icon-ic-arrow-down:before { content: "\e6f6"; }

.icon-ic-project:before { content: "\e773"; }

.icon-ic-members:before { content: "\e775"; }

.icon-ic-user:before { content: "\e776"; }

.icon-ic-department:before { content: "\e777"; }

.icon-ic-environment:before { content: "\e778"; }

.icon-ic-EA:before { content: "\e779"; }

.icon-ic-change:before { content: "\e77b"; }

.icon-ic-import:before { content: "\e77c"; }

.icon-ic-resources:before { content: "\e77d"; }

.icon-ic-new:before { content: "\e77e"; }

.icon-ic-release:before { content: "\e77f"; }

.icon-ic-edit:before { content: "\e780"; }

.icon-ic-delete:before { content: "\e781"; }

.icon-ic-loaddown:before { content: "\e782"; }

.icon-ic-refresh:before { content: "\e783"; }

.icon-ic-online:before { content: "\e784"; }

.icon-ic-closed:before { content: "\e78d"; }

.icon-ic-equipment:before { content: "\e78e"; }

.icon-ic-small-window:before { content: "\e7f9"; }

.icon-ic-hide-window:before { content: "\e7fb"; }

.icon-p-ic-release_:before { content: "\e7fe"; }

.icon-p-ic-mirror:before { content: "\e7ff"; }

.icon-p-ic-setting:before { content: "\e800"; }

.icon-p-ic-resources:before { content: "\e801"; }

.icon-p-ic-apply:before { content: "\e802"; }

.icon-p-ic-satep-ic-state:before { content: "\e803"; }

.icon-ic-history:before { content: "\e804"; }

.icon-ic-arrow-up-02:before { content: "\e80a"; }
